body {
  font-family: sans-serif;
}

body .github-fork-ribbon:before {
  background-color: #333;
}

.github-fork-ribbon:before, .github-fork-ribbon::after {
  box-sizing: content-box;
}

@media screen and (max-width: 500px) {
  .github-fork-ribbon {
    display: none;
  }
}
